.cart-overview {
  border-bottom: 1px solid rgb(209, 209, 209);
}

.cart-overview-wrapper {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  width: 70%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.back-btn {
  padding: .55rem;
}

.cart-overview-text {
  font-size: 2.85rem;
  font-weight: 650;
}

.empty-cart-message {
  font-size: 3.5rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  padding-block: 2rem;
}

.cart-content {
  display: flex;
  justify-content: center;
  column-gap: 3.5%;
  margin-top: 1rem;
}

.cart-items-container {
  min-width: 45rem;
  height: 87.5vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.cart-item-wrapper {
  border-bottom: 2px solid var(--black);
  padding: 1.25rem .5rem;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.book-frontcover {
  width: 10.675rem;
  height: 15rem;
  box-shadow: 0 5px 15px 0 var(--gray);
}

.cart-item {
  position: relative;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1.75rem 4rem 1.75rem 1.5rem;
  border-radius: 10px;
}

.cart-item:hover .delete-icon {
  opacity: 1;
}

.delete-icon {
  opacity: 0;
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  cursor: pointer;
  transition: transform 0.03s linear, opacity 0.1s linear;
}

.delete-icon:hover {
  transform: scale(1.15);
}

.book-title {
  font-size: 1.85rem;
  font-weight: 650;
}

.book-price-details {
  display: flex;
  column-gap: .75rem;
  margin-top: .25rem;
}

.book-discounted-price {
  color: var(--color-secondary);
  font-size: 1.75rem;
  font-weight: 600;
}

.book-original-price {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: line-through;
}

.book-quantity-wrapper {
  width: max-content;
  background-color: var(--white);
  display: flex;
  align-items: center;
  column-gap: .75rem;
  padding: .35rem .55rem;
  margin-block: 2.25rem;
  border: .5px solid rgb(209, 209, 209);
  border-radius: 20px;
}

.book-quantity {
  font-size: 1.7rem;
  font-weight: 550;
}

.plus-btn-wrapper, .minus-btn-wrapper {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.minus-btn-wrapper:disabled, .plus-btn-wrapper:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.subtotal-wrapper {
  font-size: 1.75rem;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.subtotal-text {
  color: rgb(34, 34, 34);
  font-weight: 550;
}

.subtotal-amount {
  font-size: 1.85rem;
  font-weight: 550;
}
