@media (max-width: 1400px) {
  .featured-books-container {
    padding-left: 2.5rem;
  }

  .active-fb-container {
    width: 65%;
  }

  .other-fbs-frontcover-main {
    position: relative;
  }

  .other-fbs-frontcover-pos-1 {
    position: absolute;
    left: 3.5%;
  }

  .other-fbs-frontcover-pos-2 {
    position: absolute;
    left: 15.5%;
  }

  .other-fbs-frontcover-pos-3 {
    position: absolute;
    right: 15.5%;
  }

  .other-fbs-frontcover-pos-4 {
    position: absolute;
    right: 3.5%;
  }

  .selected-book {
    width: 50%;
    padding: .25rem 1rem 3rem 2.5rem;
  }

  .selected-book {
    width: 70%;
  }
}

@media (max-width: 1300px) {
  .hero-section-bg {
    width: 51.5rem;
  }
}

@media (max-width: 1230px) {
  .hero-section-bg {
    width: 52.5rem;
  }
}

@media (max-width: 1110px) {
  .hero-section {
    column-gap: 2.5rem;
    padding: 0 3.5rem;
  }

  .hero-section-bg {
    width: 48rem;
  }

  .featured-books-container {
    padding-left: 1.5rem;
  }

  .active-fb-container {
    width: 75%;
  }

  .other-fbs-frontcover-pos-2,
  .other-fbs-frontcover-pos-3 {
    display: none;
  }

  .other-fbs-frontcover-main {
    bottom: 3rem;
  }

  .other-fbs-frontcover-pos-1 {
    position: absolute;
    z-index: 10;
    left: 5.5%;
    bottom: 0;
  }

  .other-fbs-frontcover-pos-4 {
    position: absolute;
    z-index: 10;
    right: 5.5%;
    bottom: 0;
  }

  .footer-first-half-wrapper {
    width: 90%;
  }

  .testimonials-heading {
    width: 60%;
  }
}

@media (max-width: 1005px) {
  .hero-section-bg {
    width: 48.5%;
  }
}

@media (max-width: 950px) {
  .header-navbar,
  .hero-section-bg,
  .other-fbs-container {
    display: none;
  }

  .hero-section {
    width: 92.5%;
    padding: 10rem 6.5rem;
    margin: 0 auto;
    height: fit-content;
  }

  .hero-section-content {
    width: 100%;
  }

  .featured-books-container {
    width: 90%;
    padding: 3.5rem;
    margin: 0 auto;
  }

  .active-fb-container {
    width: 100%;
  }

  .cart-items-container {
    min-width: 0;
  }
}

@media (max-width: 850px) {
  .featured-books-container {
    width: 100%;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25%;
    row-gap: 5rem;
  }

  .nav-links:last-child .nav-links-header {
    text-wrap: nowrap;
  }

  .selected-book {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .hero-section {
    padding: 9rem 4rem;
  }

  .testimonials-heading {
    width: 70%;
  }

  .selected-book {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .hero-section {
    width: 100%;
  }

  .featured-books-container {
    width: 90%;
  }

  .active-fb-container {
    flex-direction: column;
  }

  .active-fb-container .featured-book-details {
    align-items: center;
    text-align: center;
  }

  .active-fb-container .fb-title {
    margin-top: 2.5rem;
  }

  .active-fb-container .fb-additional-details {
    margin-block: 2.5rem;
  }

  .active-fb-container .fb-description {
    margin-bottom: 2.25rem;
  }

  .active-fb-container .testimonials-heading {
    width: 90%;
  }
}

@media (max-width: 515px) {
  .featured-books-container {
    width: 100%;
  }

  .hero-section {
    padding: 8rem 4rem;
  }

  .selected-book {
    width: 85%;
    padding: 0 2rem 2rem 2rem;
  }

  .selected-book .fb-title {
    margin-top: 0;
  }

  .selected-book .fb-frontcover{
    display: none;
  }

  .selected-book .close-icon-container {
    right: -1rem;
  }

  .selected-book-content {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .selected-book-content .featured-book-details {
    align-items: center;
  }

  .selected-book-content .fb-additional-details {
    margin-block: 2.5rem;
  }

  .selected-book-content .fb-description {
    margin-bottom: 2.25rem;
  }
}

@media (max-width: 400px) {
  .active-fb-container .fb-additional-details {
    grid-template-columns: 1fr;
  }

  .footer-nav {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .hero-section {
    padding: 7rem 2.5rem;
  }

  .selected-book {
    width: 90%;
    padding: 0 2rem 2rem 2rem;
  }
}
