.featured-books {
  margin: 3rem 0;
}

.featured-books-container {
  width: 100%;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 3.5rem 0 3.5rem 4rem;
}

/* ----- ACTIVE FEATURED BOOK ----- */
.active-fb-container {
  width: 55%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  column-gap: 3.75rem;
  border-radius: 15px;
  padding: 3.25rem 3rem 3.25rem 3rem;
}

.fb-frontcover:hover {
  cursor: initial;
  transform: none;
}

.featured-book-details {
  display: flex;
  flex-direction: column;
}

.fb-title {
  font-size: 2.25rem;
  font-weight: 650;
}

.fb-price-details {
  display: flex;
  column-gap: 1rem;
  margin-top: .65rem;
}

.fb-discounted-price {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 600;
}

.fb-original-price {
  color: var(--gray);
  font-size: 1.65rem;
  font-weight: 500;
  text-decoration: line-through;
}

.fb-additional-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin: 1.75rem 0 2rem;
}

.fb-ad-key {
  font-size: 1.65rem;
  font-weight: 500;
}

.fb-ad-value {
  color: var(--gray);
  font-size: 1.65rem;
  font-weight: 450;
}

.fb-description {
  color: var(--gray);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-wrap: balance;
}

.fb-add-to-cart-container {
  width: fit-content;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  border: none;
  border-radius: 20px;
  padding: 1rem 1.75rem;
  cursor: pointer;
}

.fb-add-to-cart-container:hover {
  opacity: 0.85;
}

.button-added-to-cart {
  background-color: rgb(0, 154, 0);
  padding: .75rem;
  border-radius: 50%;
  pointer-events: none;
}

.fb-add-to-cart-text {
  color: var(--white);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 450;
}

/* ----- OTHER FEATURED BOOKS ----- */
.other-fbs-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.other-fbs-frontcover {
  width: 14.675rem;
  height: 21.5rem;
  box-shadow: 0 3px 10px 0 rgb(80, 80, 80);
  cursor: pointer;
  transition: transform 0.1s, opacity 0.1s;
}

.other-fbs-frontcover-main {
  position: relative;
  z-index: 30;
  bottom: 5rem;
}

.other-fbs-frontcover-pos-1 {
  position: absolute;
  z-index: 10;
  left: 7.5%;
  bottom: 0;
}

.other-fbs-frontcover-pos-2 {
  position: absolute;
  z-index: 20;
  left: 22.5%;
  bottom: 2.5rem;
}

.other-fbs-frontcover-pos-3 {
  position: absolute;
  z-index: 20;
  right: 22.5%;
  bottom: 2.5rem;
}

.other-fbs-frontcover-pos-4 {
  position: absolute;
  z-index: 10;
  right: 7.5%;
  bottom: 0;
}

.other-fbs-frontcover:hover {
  transform: scale(1.05, 1.05);
  z-index: 999;
}

/* ----- ANIMATION WHEN SCROLLED ----- */
.active-fb-container, .other-fbs-container {
  translate: 0 -12.5%;
  opacity: 0;
  transition: translate 0.7s ease, opacity 0.7s ease;
}
