.footer {
  width: 95%;
  margin: 0 auto;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.footer-first-half {
  border-bottom: 1px solid rgb(209, 209, 209);
}

.footer-first-half-wrapper {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.75rem;
  padding: 5rem 0;
}

.footer-title {
  font-size: 3.15rem;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links-header {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.nav-link {
  color: rgb(114, 118, 120);
  font-size: 1.5rem;
  font-weight: 475;
}

.nav-link:hover {
  color: var(--black);
  cursor: pointer;
}

.nav-links li {
  margin-bottom: .85rem;
}

.social-media-handles {
  display: flex;
  column-gap: 2rem;
}

.social-media-handle-icon {
  width: 30px;
  cursor: pointer;
  transition: transform 0.05s linear, color 0.05s linear;
}

.social-media-handle-icon:hover {
  transform: scale(1.1, 1.1);
}

.twitter-x-icon:hover {
  fill: var(--black);
}

.facebook-icon:hover {
  fill: #4267B2;
}

.youtube-icon:hover {
  fill: #FF0000;
}

.instagram-icon:hover {
  fill: var(--black);
}

.footer-second-half {
  padding: 2.25rem 0;
}

.copyright-text {
  color: var(--gray);
  font-size: 1.5rem;
  text-align: center;
}
