.hero-section {
  width: 100%;
  height: clamp(61rem, calc(100vh - 11rem), 85rem);
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 10rem;
  margin-bottom: 3rem;
  border-radius: 20px;
}

.hero-section-content {
  width: 45%;
}

.hero-section-bg {
  width: 55rem;
}

.explore-books-text {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 650;
}

.hero-section-heading {
  font-size: 5rem;
  font-weight: 700;
}

.hero-section-subheading {
  font-size: 2.25rem;
  font-weight: 550;
  margin-top: 0.5rem;
}

.hero-copy {
  color: var(--gray);
  font-size: 1.5rem;
  margin: 3rem 0 2.5rem;
}

.new-arrivals-btn-container {
  width: fit-content;
  font-size: 1.35rem;
  font-weight: 450;
  background-color: var(--white);
  display: flex;
  align-items: center;
  column-gap: 1.75rem;
  padding: 0.75rem 0.5rem 0.75rem 2rem;
  border-radius: 25px;
  cursor: pointer;
}

.new-arrivals-btn-container:hover .new-arrivals-btn {
  background-color: var(--bg-primary);
}

.new-arrivals-btn-container:hover .right-arrow-icon {
  fill: var(--black);
}

.new-arrivals-btn {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border-radius: 50%;
  transition: background-color 0.25s;
}

.right-arrow-icon {
  transition: fill 0.25s;
}

/* ----- ANIMATION WHEN SCROLLED ----- */
.hero-section, .hero-section-content, .hero-section-bg {
  opacity: 0;
  transition: translate 0.3s linear, opacity 0.3s linear;
}

.hero-section-content {
  translate: -30%;
}

.hero-section-bg {
  translate: 30%;
}
