.featured-books {
  margin: 3rem 0;
}

.featured-books-container {
  width: 100%;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 3.5rem 3rem 3.5rem 4rem;
}

.featured-book-container {
  width: 55%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  column-gap: 3.75rem;
  border-radius: 15px;
  padding: 3.25rem 3rem 3.25rem 3rem;
}

.fb-frontcover:hover {
  cursor: initial;
  transform: none;
}

.featured-book-details {
  display: flex;
  flex-direction: column;
}

.fb-title {
  font-size: 2.5rem;
  font-weight: 650;
}

.fb-price-details {
  display: flex;
  column-gap: 1rem;
  margin-top: .85rem;
}

.fb-discounted-price {
  color: var(--color-secondary);
  font-size: 2rem;
  font-weight: 600;
}

.fb-original-price {
  color: var(--gray);
  font-size: 1.65rem;
  font-weight: 500;
  text-decoration: line-through;
}

.fb-additional-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1rem;
  margin: 1.75rem 0 2rem;
}

.fb-ad-key {
  font-size: 1.65rem;  
  font-weight: 500;
}

.fb-ad-value {
  color: var(--gray);
  font-size: 1.65rem;  
  font-weight: 450;
}

.fb-description {
  color: var(--gray);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-wrap: balance;
}

.fb-add-to-cart-container {
  width: fit-content;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  column-gap: .75rem;
  border-radius: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.fb-add-to-cart-container:hover {
  opacity: 0.85;
}

.fb-add-to-cart-btn {
  color: var(--white);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 450;
  border: none;
  cursor: pointer;
}

.other-featured-books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.25rem;
  row-gap: 2rem;
}

.other-fbs-frontcover {
  width: 14.675rem;
  height: 21.5rem;
  border-radius: 7.5px;
  cursor: pointer;
  transition: transform 0.1s;
}

.other-fbs-frontcover:hover {
  transform: scale(1.05, 1.05);
}
