.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.75rem;
}

/* ----- HEADER NAV ----- */
.header-navbar {
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 0.5rem;
  border-radius: 30px;
  border-color: rgb(46, 48, 49);
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.35rem;
  padding: 0.75rem 1.15rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.05s linear;
}

.header-nav:nth-child(n + 2):hover {
  transform: scale(1.065, 1.065);
}

.home-icon {
  position: relative;
  bottom: 0.1rem;
}

.new-arrivals-icon {
  position: relative;
  bottom: 0.01rem;
}

.featured-icon {
  position: relative;
  bottom: 0.01rem;
}

.shop-icon {
  position: relative;
  bottom: 0.1rem;
}

.header-nav-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.active-nav {
  background-color: var(--white);
}

/* ----- HEADER END ----- */
.header-end {
  display: flex;
}

.toggle-mode, .cart-icon {
  cursor: pointer;
}
