.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 99;
}

.selected-book {
  width: 46%;
  max-width: calc(0.46 * 155rem);
  background-color: var(--white);
  border-radius: 15px;
  padding: .75rem 1rem 3.75rem 2.5rem;
}

.selected-book-content {
  display: flex;
  align-items: center;
  column-gap: 3.75rem;
}

.selected-book-content .fb-description {
  width: 97%;
}

.close-icon-container {
  width: fit-content;
  position: relative;
  justify-self: flex-end;
  padding: .75rem;
}
