:root {
  --black: #000;
  --white: #FFF
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
