:root {
  --black: #000;
  --white: #FFF;
  --gray: #7B7B7B;
  --color-primary: rgb(60, 60, 224);
  --color-secondary: #AC81FD;
  --bg-primary: #E7F2F3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

button, input {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 155rem;
  margin: 0 auto;
}

.main-content {
  margin-bottom: 7rem;
}

.section-heading {
  font-size: 3rem;
  margin-bottom: 1.65rem;
}

.title {
  color: var(--color-primary);
  font-size: 2.75rem;
  font-weight: 600;
}

.bg-on-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.bg-on-hover:hover {
  background-color: rgb(235, 235, 235);
}
